@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-gradient-to-b from-[#0b0d12] to-[#141821] text-slate-100 font-sans antialiased;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }

  #root {
    @apply w-full h-screen;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



